* {
  font-family: 'Helvetica Neue', Georgia, 'Times New Roman', Times, serif;
}

/* Full Height */

#root {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

/* Flex Layout */

.App-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-main {
  flex-grow: 1;
  background-color: #E9E9EF;
  display: flex;
}

/* Margins */

.App-header, .App-main {
  padding: 8px;
}