article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height:100%;
}

.title-section {
  display: flex;
}

.action-section {
  display: flex;
}

#notes {
  flex-grow: 1;
}

p {
flex-grow: 1;
text-align: right;
}

h2 {
  margin: 0;
  display: inline;
  flex-grow: 1;
}

input {
  margin: 8px 0;
}

/* note-heading */
.note-heading {
  display:flex;
}

h3 {
  display: inline-block;
  margin: 0;
}

span{
  margin-left: 8px;
  font-size: 8px;
}